$bright:#12CCED;
$main-bg: #1C232B;
$lec-bg:#fff;
$main-text:#fff;
$light-text: #fff;
$white:#fff;
$black:#000;
$input-inactive:#1C232B;
$input-active: #29333D;
$red: #E72F5C;
$border-radius-1: 8px;
$border-radius-2: 11px;
$border-radius-3: 15px;
$input-text-inactive: #fff;
@font-face {
    font-family: "Rutube";
    src: url("../font/RF_RUTUBE_Light.ttf");
}

$rutube: "Rutube";