@import "../../styles/variables.scss";
.homeproject {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding: 0.5em 1em;
    border-radius: $border-radius-2;
    .homeproject-cover {
        overflow: hidden;
        .homeproject-cover-img {
            object-fit: cover;
            width: 120px;
            height: 120px;
            border-radius: $border-radius-3;
        }
    }
    .homeproject-details {
        .homeproject-title {}
        .homeproject-date {}
    }
}